{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

    <div class="content">
        <h2>Admin Settings</h2>

        <ul>
            <li>RSS</li>
            <li>Editor</li>
            <li>Presentation</li>
            <li>Other Settings</li>
            <li>Site Title</li>
            <li>Writting options</li>
            <li>Reading options</li>
            <li>Widgets (Archives, RSS, Categories, Tag Cloud...)</li>
            <li>Themes</li>
        </ul>
    </div>
{% endblock %}