{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

    <div id="content">
        <h2>Admin Settings</h2>

        <ul>
            <li>RSS</li>
            <li>Editor</li>
            <li>Presentation</li>
            <li>Other Settings</li>
        </ul>
    </div>
{% endblock %}