/*******************************************************
    Colors Configurable Variables
    - http://compass-style.org/help/tutorials/configurable-variables/
*******************************************************/


$base-color:                                            	 #3777bc;
$base-text-color:                                            #5b5e5e; // Default Color for all site ( body color )
$dark-gray-color:                                            #43474f;
$medium-gray-color:                                          #94979b;
$light-gray-color:                                           #e6e7e8;
$black-color:                                                #000000;
$yellow-bck:												 #fdfbe1;

// Background color
$base-background-color:                                      #ffffff;
$base-gradient-start-color:                           		#ffffff; // Curently using for Select jquery plugin ".select-holder"
$base-gradient-end-color:                             		#b4b4b4; // Curently using for Select jquery plugin ".select-holder"

// Form border colors
$base-form-border-color:                                     #cccccc;
$base-form-border-hover-color:                               #AAAAAA;
$base-form-border-focus-color:                               #666666;

// Form background colors
$base-form-background-color:                                 #ffffff;
$base-form-background-hover-color:                           #ffffff;
$base-form-background-focus-color:                           #f5f5f5;

$base-form-background-start-color:                           #ffffff; // Curently using for Select jquery plugin ".select-holder"
$base-form-background-end-color:                             #ffffff; // Curently using for Select jquery plugin ".select-holder"

// Button Filter
$base-button-color:											 #7dc242;
$base-button-filter-color:                                   #ffffff;
$base-button-filter-text-shadow-color:                       #000000;
$base-button-filter-border-color:                            #3C3E79;
$base-button-filter-start-color:                             #5d9741;
$base-button-filter-end-color:                               #7dc242;

// Buttons
$base-button-text-shadow-color:                              #000000;
$base-button-border-color:                                   #3C3E79;
$base-button-start-color:                                    #607796;
$base-button-end-color:                                      #3C3E79;

// Article colors
$base-article-hover-color:                                   #ecf3fd;
$base-carfax-link-color:                                     #666666;

// Lead Form
$lead-form-background:                                       #ffffff;

// Lead Form Header
$lead-form-header-background:                                #8D161C;
$lead-form-header-text-color:                                #ffffff;




/*******************************************************************************************************************/