vendor/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
*/logs/*
*/cache/*
*.sass-cache
/web/bundles*
.idea/
.metadata/
app/DoctrineMigrations/
composer.phar
.DS_Store
src/Blog/AdminBundle/Resources/public/css/style.css