{% extends '::base.html.twig' %}


{% block header %}
    <div id="header" class="register-signin-header">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="signout" href="{{ path('admin_user_logout') }}">
            Logout
        </a>
        {% else %}
        <a class="signout" href="{{ path('admin_user_login') }}">
            Login
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block container %}
    {{ include('AdminBundle::_shared/admin_navigation.html.twig') }}

    <div id="content">
    {% include [
        'AdminBundle:Index:posts/'~ actionName ~ '.html.twig',
        'AdminBundle:Index:authors/'~ actionName ~ '.html.twig',
        'AdminBundle:Index:settings/'~ actionName ~ '.html.twig',
        'AdminBundle:Index:default.html.twig']
        ignore missing
    %}
    </div>


{% endblock %}

{% block footer %}{% endblock %}