{% extends '::base.html.twig' %}


{% block header %}
    <div id="header" class="register-signin-header">
        <a href="{{ path('admin_user_register') }}">Create an Account</a>
        or
        <a href="{{ path('admin_user_login') }}">Login</a>
    </div>
{% endblock %}

{% block container %}
    {{ include('AdminBundle::_shared/admin_navigation.html.twig') }}

    <div id="content">
        <h3>Default</h3>
    </div>


{% endblock %}

{% block footer %}{% endblock %}