{% extends '::base.html.twig' %}


{% block header %}
    <div id="header" class="register-signin-header">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="signout" href="{{ path('admin_user_logout') }}">
            Logout
        </a>
        {% else %}
        <a class="signout" href="{{ path('admin_user_login') }}">
            Login
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block container %}
    <div id="navigation">
        <h1>Settings</h1>
        <ul>
            <li>
                <a href="">
                    General
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{path('admin_users')}}" {% if app.request.get('_route') == 'admin_users' %} class="active"{% endif %}>
                    Users
                </a>
            </li>
            {%  endif %}
            <li>
                <a href="{{path('admin_post')}}" {% if app.request.get('_route') == 'admin_post' %} class="active"{% endif %}>
                    Posts
                </a>
            </li>
            <li><a href="">Categories</a></li>

            <li><a href="">Comments</a></li>
        </ul>
    </div>

    <div id="content">
    {% include [
        'AdminBundle:Index:posts/'~ actionName ~ '.html.twig',
        'AdminBundle:Index:authors/'~ actionName ~ '.html.twig',
        'AdminBundle:Index:settings/'~ actionName ~ '.html.twig',
        'AdminBundle:Index:default.html.twig']
        ignore missing
    %}
    </div>


{% endblock %}

{% block footer %}{% endblock %}