{% extends 'AdminBundle::layout.html.twig' %}

{% block header %}
    <div id="header" class="register-signin-header">
        <a href="{{ path('admin_user_register') }}">Create an Account</a>
        or
        <a href="{{ path('admin_user_login') }}">Login</a>
    </div>
{% endblock %}

{% block container %}

    <form id="login-form" name="forgot" method="post">
        <h2>Forgot your password</h2>
        <fieldset>
            <label for="email">Please enter your account E-mail address</label>
            <input type="email" placeholder="Email Address" name="email" id="email" />
        </fieldset>

        <fieldset>
            <p>Entering your Email Address we will send you a link to reset your password.</p>
        </fieldset>

        <button type="submit">Submit</button>
    </form>

{% endblock %}