{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <h2>Categories</h2>
        <a href="{{ path('admin_category_create') }}" class="button-add">Create Category</a>

        <ul>
            <li>CRUD</li>
        </ul>
    </div>
{% endblock %}

