{% extends '::base.html.twig' %}

{% block header %}
    <div id="header" class="register-signin-header">

        <p style="float: left;">Marko Jankovic Blog</p>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="signout" href="{{ path('admin_user_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('admin_user_login') }}">Login</a>
        {% endif %}

        or
        <a href="{{ path('admin_user_register') }}">Create an Account</a>
    </div>
{% endblock %}

{% block container %}

    {% block content %}
        <div id="content">Default</div>
    {% endblock %}

{% endblock %}

{% block footer %}{% endblock %}