{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <h2>New Post</h2>

        <form name="save-post" method="post" action="" novalidate>

            {{ showFormError(errors) }}
            <fieldset>
                {{ form_widget(form.title, {'attr': {'placeholder': 'Title' }}) }}
            </fieldset>

            <fieldset>
                {{ form_widget(form.body, {'attr': {'placeholder': 'Write something' }}) }}
            </fieldset>
            {{ form_rest(form) }}

            <select name="category">
                <option value="javascript">JavaScript</option>
                <option value="php">PHP</option>
            </select>

            <select name="tag">
                <option value="backbone">Backbone</option>
                <option value="angular">Angular</option>
                <option value="react">React</option>
                <option value="coding">Coding</option>
                <option value="performance">Performance</option>
            </select>

            <input type="submit" class="button-add top-btn" name="save-post" value="Save Post"/>
        </form>
    </div>
{% endblock %}