{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

    <div class="content">
        <h2>Profile Settings</h2>
        <a href="{{ path('admin_profile_update') }}" class="button-add">Save</a>


        @TODO
        <ul>
            <li>Avatar</li>
            <li>Full Name</li>
            <li>Location</li>
            <li>Github</li>
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Bio</li>
            <li>Delete Account</li>
        </ul>
    </div>
{% endblock %}