#edit-user,
#profile,
#edit-post,
#create-post,
#create-category,
#edit-category {

    fieldset {
        padding: 10px 0 0 0;
    }

    form {
        padding: 15px 40px;
        width: 500px;
    }

    label {
        padding: 0px 0 5px 0;
        display: block;
    }
}