html {
    font-size: 62.5%;
}

* {
    @include box-sizing(border-box);
}

body {
    font-family: 'Helvetica Neue',Helvetica, Georgia, Arial, sans-serif;
    line-height: 1.5;
    @include font-size(13px);
    color: #444;
    background: url('../img/texture-grain.png');

    strong {
        font-weight: 400;
    }
}

a {
    color: #3B73AF; /* 0065A8 */
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease 0s;

    &:hover {
        text-decoration: underline;
    }
}

.no-margin {
    margin: 0 !important;
}

.wrapper {
    min-height: 610px;
    position: relative;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    @include box-shadow(#ccc 0 1px 5px);
    @include border-radius(3px);
}

#register,
#forgot,
#login {

    .wrapper {
        border: none;
        background: none;
        margin: 40px auto auto;
        box-shadow: none;
    }
}

#container {
    
    padding: 15px 0 0 0;

    header {
        time {
            float: right;
            color: #1D3C4F;
            font-style: italic;
            line-height: 26px;
        }

        h2 {
            @include font-size(26px);
        }
    }

    article {
        border-bottom: 2px #3B73AF solid;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    .item-excerpt {
        @include font-size(21px);
        color: #555;
    }
}

#navigation {
    width: 20%;
    box-shadow: 1px 0 0 #ededed;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #FDFDFD;

    h1 {
        padding: 20px 15px 20px 40px;
        @include font-size(18px);
        text-rendering: optimizelegibility;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        font-weight: 400;
    }

    ul {
        border-top: 1px #ededed solid;
    }

    li {
        border-bottom: 1px #ededed solid;
    }

    a {
        padding: 12px 15px;
        display: block;
        text-decoration: none;
        color: #3B73AF;
        @include font-size(14px);

        &:hover {
            background: #f6f6f6;
            padding-left: 11px;
            border-left: 4px solid #B6A676;
            @include border-radius(3px 0 0 3px);
        }
    }

    .active {
        box-shadow: 1px 0 0 #fff;
        padding-left: 11px;
        background: #fff;
        color: #444;
        @include border-radius(3px 0 0 3px);


        font-weight: bold;
        border-left: 4px solid #D26911;

        &:hover {
            cursor: default;
            background: #fff;
            padding-left: 11px;
            border-left: 4px solid #D26911;
        }
    }
}

.content {
    width: 80%;
    float: left;
    position: relative;
    margin-left: 20%;

    h2 {
        font-weight: 400;
        padding: 20px 15px 20px 40px;
        @include font-size(18px);
        letter-spacing: 0.4px;
        text-transform: uppercase;
        border-bottom: 1px #ededed solid;
    }

    .button-delete {
        @include background(linear-gradient(#fcfcfc, #eee));
        height: 30px;
        padding: 6px 8px;
        color: #900;
        border: 1px solid #ccc;
        text-transform: uppercase;
        text-decoration: none;
        @include border-radius(2px);
        @include font-size(12px);
        margin: 15px 0 0 0;

        &:hover {
          color: white;
          @include background(linear-gradient(#dc5f59, #b33630));
        }
    }

    .button-add {
        background: #9FBB58;
        height: 30px;
        padding: 6px 8px;
        color: #fff;
        border: 1px solid #63AE26;
        text-transform: uppercase;
        text-decoration: none;
        @include border-radius(2px);
        @include font-size(12px);
        margin: 15px 0 0 0;

        &:hover {
          @include background(linear-gradient(top, #9FBB58, #63AE26));
        }
    }

    .top-btn {
        position: absolute;
        right: 15px;
        top: 20px;
        margin: 0;
    }
}

.signout {
    padding: 14px;
    background: #555;
    border-left: 1px solid #35393B;
    border-right: 1px solid #35393B;

    &:hover {
        opacity: 0.75;
    }
}

//temporary
#users .content,
#category .content,
#settings .content,
#comments .content {

  ul {
    padding: 12px 15px;
  }

  li {
    height: 40px;
    padding: 10px 15px;

    &:nth-child(odd) {
      background: #f2f5f6;
    }

    a {
      margin-left: 12px;
      @include font-size(13px);
      text-decoration: underline;
      text-transform: capitalize;
    }

    span {
      float: left;
    }

    p {
      text-align: right;
    }
  }
}

#post-comments {
  padding: 10px 25px 20px 25px;
  border-bottom: 1px solid #EDEDED;
  margin: 0 10px;
}

#showPosts {

  h3 {
      @include font-size(16px);
  }

  article {
      padding: 10px 25px 20px 25px;
      border-bottom: 1px solid #EDEDED;
      margin: 0 10px;

      &:hover {
//          background: #EBF2F9;
      }
  }

  .status {
      color: #AAA9A2;
      @include font-size(12px);
  }

  .post-actions {
      margin: 0 10px;
      padding: 10px 25px 0;
      text-align: left;

      a {
          display: inline-block;
          margin-right: 10px;
          text-transform: capitalize;
          border: 1px #ccc solid;
          text-decoration: none;
          padding: 4px 8px;
          background: #f6f6f6;
          color: #333;
          @include background(linear-gradient(#f6f6f6, #F2F2F2));
          @include border-radius(3px);

          &:hover {
              background: #f2f2f2;
              border: 1px #9EABB3 solid;
          }
      }
  }
}

#edit-create-post {
    margin: 30px 70px;

    textarea {
        margin: 15px 0;
        height: 300px;
    }
}
