{% extends '::base.html.twig' %}


{% block header %}
    <div id="header" class="register-signin-header">
        <a class="signout" href="{{ path('admin_user_logout') }}">Log Out</a>
    </div>
{% endblock %}

{% block container %}
    <div id="navigation">
        <h1>Settings</h1>
        <ul>
            <li>
                <a href="">
                    General
                </a>
            </li>
            <li>
                <a href="{{ path('admin_users') }}" {% if app.request.get('_route') == 'admin_users' %} class="active"{% endif %}>
                    Users
                </a>
            </li>
            <li>
                <a href="{{ path('admin_post') }}" {% if app.request.get('_route') == 'admin_post' %} class="active"{% endif %}>
                    Posts
                </a>
            </li>
            <li><a href="">Categories</a></li>

            <li><a href="">Comments</a></li>
        </ul>
    </div>

    {% block content %}
        <div id="content">Default</div>
    {% endblock %}


{% endblock %}

{% block footer %}{% endblock %}