{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <h2>Comments</h2>

        <ul>
            <li>Comment - Post Name - User Name</li>
            <li>Delete Comment</li>
        </ul>
    </div>
{% endblock %}

