<div id="navigation">
    <h1>Settings</h1>
    <ul>
        <li>
            <a href="">
                General
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('admin_user') }}" {% if app.request.get('_route') == 'admin_user' %} class="active"{% endif %}>
                Users
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{{ path('admin_post') }}" {% if app.request.get('_route') == 'admin_post' %} class="active"{% endif %}>
                Posts
            </a>
        </li>

        <li><a href="">Categories</a></li>

        <li><a href="">Comments</a></li>
    </ul>
</div>